<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Automation Control Center</title>
    <link rel="stylesheet" href="~/css/theme.css" />
</head>
<body>
    <div class="app-layout">
        <header class="app-header">
            Automation Control Center
        </header>

        <main class="app-content">
            @RenderBody()
        </main>
    </div>
</body>
</html>
