@model Automation.ControlCenter.Dashboard.Models.Dashboard.StatusSummaryCardViewModel

<div class="summary-card @(Model.isActive ? "summary-card-active" : "")">
    <div class="summary-card-title">
        @Model.Title
    </div>

    <div class="summary-card-value">
        @Model.Count
    </div>
</div>

