@page
@model Automation.ControlCenter.Dashboard.Pages.Processes.IndexModel
@using Automation.ControlCenter.Dashboard.Models.Dashboard

<div class="summary-grid">

    <a asp-page="/Processes/Index"
       asp-route-status="Running"
       class="summary-card-link">
        @await Html.PartialAsync(
                 "_StatusSummaryCard",
                 new StatusSummaryCardViewModel
        {
            Title = "Running",
            Count = Model.RunningCount,
            isActive = Model.SelectedStatus == "Running"
        })
    </a>

    <a asp-page="/Processes/Index"
       asp-route-status="Completed"
       class="summary-card-link">
        @await Html.PartialAsync(
                 "_StatusSummaryCard",
                 new StatusSummaryCardViewModel
        {
            Title = "Completed",
            Count = Model.CompletedCount,
        isActive = Model.SelectedStatus == "Completed"

        })
    </a>

    <a asp-page="/Processes/Index"
       asp-route-status="Failed"
       class="summary-card-link">
        @await Html.PartialAsync(
                 "_StatusSummaryCard",
                 new StatusSummaryCardViewModel
        {
            Title = "Failed",
            Count = Model.FailedCount,
            isActive = Model.SelectedStatus == "Failed"

        })
    </a>

    @if(!Model.Processes.Any())
    {
    <p>No processes found for selected status.</p>
    }
    else
    {
    <table class="process-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Started</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var process in Model.Processes)
                {
                    @await Html.PartialAsync("_ProcessTableRow", process)
                }   
        </tbody>
    </table>
    }
</div>
